<!DOCTYPE html>
<html>

<head>
    <title>Boss直聘数据可视化展示</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #fafff1">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">boss直聘数据展示</a>
            </div>
            <div class="btn-group">
                <ul class="nav navbar-nav">
                    <li class="nav-items dropdown">
                        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">薪资数据
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="a1">北京</a></li>
                            <li><a class="dropdown-item" href="a2">上海</a></li>
                            <li><a class="dropdown-item" href="a3">广州</a></li>
                            <li><a class="dropdown-item" href="a4">深圳</a></li>
                            <li><a class="dropdown-item" href="a5">杭州</a></li>
                        </ul>
                    </li>
                    <li class="nav-items dropdown">
                        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">经验要求
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="c1">北京</a></li>
                            <li><a class="dropdown-item" href="c2">上海</a></li>
                            <li><a class="dropdown-item" href="c3">广州</a></li>
                            <li><a class="dropdown-item" href="c4">深圳</a></li>
                            <li><a class="dropdown-item" href="c5">杭州</a></li>
                        </ul>
                    </li>
                    <li class="nav-items dropdown">
                        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">词云
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="b1">北京</a></li>
                            <li><a class="dropdown-item" href="b2">上海</a></li>
                            <li><a class="dropdown-item" href="b3">广州</a></li>
                            <li><a class="dropdown-item" href="b4">深圳</a></li>
                            <li><a class="dropdown-item" href="b5">杭州</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>

    </div>
</body>

</html>
